/* ===================== */
    /* TOP section */
/* ===================== */
#home {
    color: white;
    flex-direction: column;
}

#home .header {
    background: var(--secondary);
    min-width: 50vw;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#home .body {
    background: var(--secondary);
    width: 50vw;
    min-height: 40vh;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#home .body p {
    text-align: left;
    letter-spacing: 1px;
    font-weight: 200;
    line-height: 1.2em;
    max-width: 90%;
    margin: auto auto 1em auto;
}

#home .body h4 {
    text-transform: capitalize;
    margin-bottom: 1em;
    font-weight: 400;
}

#home .body ul {
    max-width: 90%;
    margin: auto auto 1em auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#home .body ul li {
    list-style: none;
}

#home .body ul li a {
    color: var(--white);
    text-decoration: none;
}

#home .body ul li a i {
    padding: 0.8em;
}

#home .body a.btn {
    margin-top: 1em;
    padding: 0.8em;
    background: var(--primary);
    color: var(--white);
}


/* ===================== */
/* About section */
/* ===================== */
#about {
    color: white;
    flex-direction: column;
}

#about .header {
    background: var(--secondary);
    min-width: 50vw;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#about #runner {
    background: var(--secondary);
    width: 50vw;
    min-height: 30vh;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#about #intrests {
    background: var(--secondary);
    width: 50vw;
    min-height: 20vh;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#about #runner h1,
h2 {
    font-weight: 200;
    margin: 0.4em 0;
}

#about #runner h1 {
    font-size: 3.5em;
}

#about #runner h2 {
    color: #888;
    font-size: 2em;
}

#intrests {
    text-transform: capitalize;
}

#intrests #rand {
    position: relative;
    /* background: #000; */
    font-size: 2em;
    min-height: 3.5em;
    width: 46vw;
    margin: auto;
}

#intrests #rand .col {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
}

#rand i.icon {
    color: coral !important;
}



/* ===================== */
/* Awards */
/* ===================== */
#awards {
    color: white;
    flex-direction: column;
}

#awards .header {
    background: var(--secondary);
    min-width: 50vw;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#awards #achievements {
    background: var(--secondary);
    width: 50vw;
    min-height: 40vh;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;

    /* style imgs */

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#awards #achievements img {
    max-width: 50px;
    height: auto;
}

#awards .footer {
    background: var(--secondary);
    width: 50vw;
    min-height: 20vh;
    padding: 2em;
    text-align: left;
    margin-bottom: 1em;
}

#awards .footer h1,
h2 {
    font-weight: 200;
    margin: 0.4em 0;
    text-align: left;
}



/* ===================== */
/* Experience */
/* ===================== */
#experience {
    color: white;
    flex-direction: column;
}

#experience .header {
    background: var(--secondary);
    width: 50vw;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#experience .wrapper {
    background: var(--secondary);
    width: 50vw;
    min-height: 30vh;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#experience .wrapper table {
    width: 100%;
    height: 100%;
}

#experience .wrapper table thead {
    font-weight: 600;
    margin: 0.4em 0;
}
#experience .wrapper table tbody tr{
    border-bottom: 1px solid var(--primary) !important;
    color: #888;
}
#experience .wrapper table tbody tr a {
    color: var(--primary);
    text-decoration: none;
}

#experience .footer {
    background: var(--secondary);
    width: 50vw;
    min-height: 20vh;
    padding: 2em;
    text-align: left;
    margin-bottom: 1em;
}

#experience .footer h1,
h2 {
    font-weight: 200;
    margin: 0.4em 0;
    text-align: left;
}
#experience .footer ul li{
    font-weight: 200;
    margin: 0.4em 4em;
    text-align: left;
    color: var(--primary);
}
#experience .footer ul li a{
    text-decoration: none;
    color: var(--primary);
}


/* ===================== */
/* Resume */
/* ===================== */
#resume {
    color: white;
    flex-direction: column;
}

#resume .header {
    background: var(--secondary);
    min-width: 50vw;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#resume .wrapper {
    background: var(--secondary);
    width: 50vw;
    min-height: 40vh;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;


    /* style images */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#resume .wrapper img {
    max-height: 20em;
}

#resume .wrapper a.btn {
    background: var(--primary);
    color: var(--white);
}
#resume .modulus {
    background: var(--secondary);
    width: 50vw;
    min-height: 20vh;
    padding: 2em;
    text-align: left;
    margin-bottom: 1em;
}
#resume .modulus h1{
    padding-bottom: 2em;
}
#resume .modulus h1 small{
    color: #888;
    font-weight: 100;
}
#resume form{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 0.5em;
}
#resume input {
    width: 100%;
    margin: 0.5em 0em;
    background: transparent;
    padding: 0.8em 1.2em;
    border: 1px solid var(--primary);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}
#resume button[type='submit'] {
    width: 80%;
    height: 90%;
    margin: auto;
    background: var(--primary);
    padding: 0em 1.2em;
    border: 1px solid var(--primary);
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}



/* ===================== */
/* Contact */
/* ===================== */
#contact {
    color: white;
    flex-direction: column;
}

#contact .header {
    background: var(--primary);
    min-width: 50vw;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#contact .wrapper {
    background: var(--secondary);
    width: 50vw;
    min-height: 40vh;
    text-align: center;
    margin-bottom: 1em;
    display: flex;
}

#contact .wrapper .col1 {
    flex: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#contact .wrapper .col1 .top {
    width: 95%;
    color: var(--white);
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-bottom: 0.5em;
}
#contact .wrapper .col1 .top h4{
    font-weight: 600;
}
#contact .wrapper .col1 .top a {
    color: var(--primary) !important;
    line-height: 1.2em;
    text-decoration: none;
    font-style: italic;
}

#contact .wrapper .col1 .bottom {
    width: 95%;
    margin-top: 0.5em;
    color: var(--white);
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

#contact .wrapper .col1 .bottom ul {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#contact .wrapper .col1 .bottom ul li a {
    color: var(--primary);
    font-size: 1.2em;
}

#contact .wrapper .col2 {
    flex: 60%;
}

#contact .wrapper .col1 .bottom h4 {
    font-weight: 600;

}

#contact .wrapper ul {
    list-style: none;

}

#contact .wrapper ul li {
    text-align: left;
}

#contact .wrapper form {
    background: var(--white);
    padding: 0.5em;
    height: 100%;

}

#contact input,
textarea {
    width: 90%;
    margin: 0.5em;
    background: transparent;
    padding: 0.8em 1.2em;
    border: 1px solid var(--primary);
    color: var(--secondary);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

#contact a.btn,
button[type='submit'] {
    letter-spacing: 0.1em;
    text-decoration: none;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    background: var(--primary);
    color: var(--white);
}


/* RESPONSIVE PHONE*/
@media screen and (max-width: 576px) {
    #home .header {
        background: var(--secondary);
        min-width: 100%;
        padding: 0.5em;
        margin-top: 3.25em;
    }

    #home .body {
        background: var(--secondary);
        width: 100%;
        padding: 0.5em;
    }

    #home .body h4 {
        text-align: center;
        font-weight: 600;
    }

    #home .body p {
        text-align: baseline;
        color: var(--gray);
        font-weight: 100;
        text-align: justify;
        width: 100%;
    }

    #home .body ul {
        max-width: 100%;
        margin: auto auto 1em auto;
    }


    #about .header {
        min-width: 100%;
        padding: 0.5em;
    }

    #about #runner h1.runner {
        font-size: 3em;
    }

    #intrests #rand {
        font-size: 1.5em;
        width: 100%;
    }


    #awards .header {
        padding: 1em;
    }

    #awards #achievements {
        width: 100%;
        padding: 1em;
    }

    #awards #achievements img {
        max-width: 30%;
        padding: 1em;
        height: auto;
    }
    #awards .footer {
        width: 100%;
        padding: 1em;
    }



    #experience .header {
        width: 100%;
        padding: 1em;
    }
    #experience .footer {
        width: 100%;
        padding: 1em;
    }


    #resume .header {
        min-width: 50vw;
        padding: 1em;
    }

    #resume .wrapper {
        width: 100%;
    }
    #resume .modulus {
        width: 100%;
        padding: 1em;
    }
    #resume .modulus  h1{
        width: 100%;
        padding: 1em 0em;
    }

    #resume .modulus form {
        display: block;
    }
    #resume .modulus input{
        width: 100%;
    }
    #resume .modulus button {
        width: 100%;
        padding: 1em;
        text-align: center;
    }


    #contact .header {
        padding: 1em;
    }

    #contact .wrapper {
        width: 100%;
        display: block;
        background: var(--block-dark);
    }

    #contact .wrapper .col1 {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    #contact .wrapper .col1 .top {
        width: 100%;
        flex: none;
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    #contact .wrapper .col1 .top h4 {
        padding: 1em;
        font-weight: 400;
        font-weight: 600;
    }

    #contact .wrapper .col1 .bottom {
        width: 100%;
        margin: 0.5em 0em;
        flex: none;
    }

    #contact .wrapper .col1 .bottom h4 {
        padding: 1em;
        font-weight: 400;
    }

    #contact .wrapper .col2 {
        flex: none;
    }

    #contact .wrapper form {
        background: transparent;
        padding: 0em;
        width: 100%;
    }

    #contact input,
    textarea {
        width: 100%;
        margin: 0.5em 0em;
    }

    #contact a.btn {
        margin-top: 0.5em;
    }

}


/* RESPONSIVE TABLET*/
@media screen and (max-width: 768px) {
    #home .header {
        background: var(--secondary);
        min-width: 100%;
        padding: 0.5em;
        margin-top: 3.25em;
    }

    #home .body {
        background: var(--secondary);
        width: 100%;
        padding: 0.5em;
    }

    #home .body h4 {
        font-weight: 600;
        font-size: 1.2em;
    }

    #home .body p {
        font-size: 1.2em;
    }

    #home .body ul {
        font-size: 2em;
    }
    #home .body a.btn {
        margin-bottom: 1em;
        padding: 1em;
    }


    #about .header {
        min-width: 100%;
        padding: 0.5em;
    }

    #about #runner h1.runner {
        font-size: 3em;
    }

    #intrests #rand {
        font-size: 1.5em;
        width: 100%;
    }


    #awards .header {
        padding: 1em;
    }

    #awards #achievements {
        width: 100%;
        padding: 1em;
    }

    #awards #achievements img {
        max-width: 30%;
        padding: 1em;
        height: auto;
    }
    #awards .footer {
        width: 100%;
        padding: 1em;
        font-size: 1.2em;
    }



    #experience .header {
        width: 100%;
        padding: 1em;
    }
    #experience .wrapper table {
        width: 100%;
        height: 100%;
    }
    #experience .footer {
        width: 100%;
        height: 100%;
        padding: 1em;
    }


    #resume .header {
        min-width: 50vw;
        padding: 1em;
    }

    #resume .wrapper {
        width: 100%;
    }
    #resume .modulus {
        width: 100%;
        padding: 1em;
    }
    #resume .modulus  h1{
        width: 100%;
        padding: 1em 0em;
    }

    #resume .modulus form {
        display: block;
    }
    #resume .modulus input{
        width: 100%;
    }
    #resume .modulus button {
        width: 100%;
        padding: 1em;
        text-align: center;
    }


    #contact .header {
        padding: 1em;
    }

    #contact .wrapper {
        width: 100%;
        display: block;
        background: var(--block-dark);
    }
    #contact .wrapper .col1 {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2,1fr );
        padding: 1em;
        margin-bottom: 1em;
    }

    #contact .wrapper .col1 .top {
        width: 100%;
        flex: none;
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    #contact .wrapper .col1 .top h4 {
        padding: 1em;
        font-weight: 400;
        font-weight: 600;
    }

    #contact .wrapper .col1 .bottom {
        width: 100%;
        margin: 0.5em 0em;
        flex: none;
    }

    #contact .wrapper .col1 .bottom h4 {
        padding: 1em;
        font-weight: 400;
    }

    #contact .wrapper .col2 {
        flex: none;
    }

    #contact .wrapper form {
        background: transparent;
        padding: 0em;
        width: 100%;
    }

    #contact input,
    textarea {
        width: 100%;
        margin: 0.5em 0em;
    }

    #contact a.btn {
        margin-top: 0.5em;
        width: 100%;
    }

}