/* variables */
:root {
    /* --primary: #32fdad;
    --light: #f3f8fc; */
    --primary: #222127;
    --gradient: #637772;
    --secondary: #23262d;
    --light: #FFFFFF;
    --font-family: 'Courier New', Courier, monospace;
}

/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background: var(--primary) !important;
    color: var(--light) !important;
}

/* bootstrap overrides */
.primary {
    color: var(--gradient) !important;
}

.btn {
    background: var(--gradient) !important;
    color: var(--light) !important;
}

.progress-bar {
    background: var(--gradient) !important;
}

a {
    color: var(--gradient) !important;
}

a.btn {
    background: var(--gradient);
    color: var(--light);
    border: none;
}


/* cards */

.card {
    width: 380px;
    position: relative;
    margin: 50px auto;
    background: var(--white);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card .thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient);
}

.card .thumb img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--gradient);
}

.card .details {
    padding: 1em .5em;
}

.card .details .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .details .category {
    color: var(--secondary);
    font-size: .8em;
}
.card .details .label{
    color: var(--secondary);
    font-weight: 600;
}
.card .details .description {
    /* background: yellow; */
    color: var(--secondary);
    font-size: 1em;
    padding: .5em 0em;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* line-height: 16px;     */
    max-height: 125px;     
    -webkit-line-clamp: 5; /* Write the number of 
                              lines you want to be 
                              displayed */
    -webkit-box-orient: vertical;
}

.card .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* .card {
    color: var(--primary);
}
.card .thumbnail{ */

/* } */
/* .card .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    max-height: 300px;
} */

/* elements */

/* section */
section {
    min-height: calc(100vh - 3.25em);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero */
#hero {}

#hero .title {
    font-size: 4em;
    font-weight: 600;
}

/* about */
#about {}

.progress {
    margin: 1.5em 0em;
}

/* forms */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: var(--gradient);

}

form {
    background: var(--white);
    padding: 2em;
}

legend {
    font-size: 2em;
    font-weight: 600;
}

label {
    font-size: 1.2em;
    padding: .5em 0em;
}

form title {
    padding: 2em;
}

.form-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    Margin-top: 1em;
}

/* buttons */
input,
textarea,
select {
    position: relative;
    border-color: var(--secondary);
    color: var(--secondary);
    display: block;
    padding: .45rem .9rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid var(--secondary);
    appearance: none;
    border-radius: .25em;
    text-transform: uppercase;
    width: 100%;
}

.btn,
input[type=submit] {
    color: var(--gradient);
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 0.2em;
    display: inline-block;
    border: 0;
    outline: 0;
    margin-bottom: 1em;
}